---
interface Props {
  color: "btn-primary" | "btn-secondary" | "btn-neutral";
  hover?: "hover:btn-primary" | "hover:btn-secondary" | "hover:btn-accent";
}

const { color, hover } = Astro.props;
---

<button class={`btn btn-sm ${color} rounded ${hover}`}><slot /> </button>
