---
export const ButtonColors = {
  primary: "btn-primary",
  secondary: "btn-secondary",
  neutral: "btn-neutral",
  accent: "btn-accent"
};

const HoverColors = {
  neutral: "hover:btn-neutral",
  primary: "hover:btn-primary",
  secondary: "hover:btn-secondary",
  accent: "hover:btn-accent",
};

interface Props {
  color?: keyof typeof ButtonColors;
  hover?: keyof typeof HoverColors;
  classes?: string;
}

const { color = "neutral", hover = "primary", classes, ...rest } = Astro.props;
---

<button
  class:list={[
    "btn btn-sm rounded",
    ButtonColors[color],
    HoverColors[hover],
    classes,
  ]}
  {...rest}
  ><slot />
</button>
