---
interface Props {
  color: "primary" | "secondary" | "neutral";
  hover?: "primary" | "secondary" | "accent";
}

const { color, hover } = Astro.props;
---

<button class:list={["btn","btn-sm", `btn-${color}`, "rounded", `hover:btn-${hover}`]}
><slot />
</button>
